PA_POSTGRES_PASSWORD=f3a4088ac4716102e86f7f7e679da26957af7cf44c5d6786e88a43dcb9aaaa20
PA_NOTION_ENABLED=false
PA_ANALYTICS_AUTH_ENABLED=false
PA_MARKET_DATA_PROVIDER=manual
PA_BIND_ADDRESS=127.0.0.1
PA_IBKR_FLEX_REFRESH_COOLDOWN_SECONDS=900
